body {
  margin: 0;
  text-align: center;
font-family: 'Inconsolata', monospace;

}


h1 {
  font-size: 5.625rem;
  margin-top: 50px;
  margin:50px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  color:#66BFBF;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: normal;
  color:#66BFBF;
}

h3 {
  color:#11999E;
}

p{
  font-family: 'Inconsolata', monospace;
}
.top-container {
  background-color: #E0F2F2;
  position:relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {

}

.graphic {
  text-decoration: underline;
}

.mount {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.top-cloud {
position:absolute;
right:50px;
top:60px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.bottom-cloud {
  position:absolute;
  left:300px;
  bottom:300px;
}

a {
  color:#11999E;
}

.computer-img{
  width:25%;
  float:left;
  margin-right: 30px;
}

.chilli-img {
  width:25%;
  float:right;
  margin-left: 30px;
}
